Repository edloidas/penta-project: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint, stylelint --fix

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "src/js/ui/components/**/*.js": [
    "stylelint",
    "git add"
  ],
  "*.css": [
    "stylelint --fix",
    "git add"
  ]
}

Add navigation groups to Settings menu
  flow-typed/ui.js
  src/js/ui/actions/settings.js
  src/js/ui/components/Navigation/Navigation.js
  src/js/ui/components/Navigation/NavigationItem.js
  src/js/ui/components/SettingsMenu/SettingsMenu.js
  src/js/ui/components/base.js
  src/js/ui/components/inputs/Button.js
  src/js/ui/components/texts/Title.js
  src/js/ui/containers/Menu.js
  src/js/ui/containers/Settings.js
  src/js/ui/reducers/settings.js
Due: eslint --fix, stylelint

Update Settings menu buttons
  .eslintignore
  src/js/ui/components/SettingsMenu/SettingsMenu.js
  src/js/ui/containers/Settings.js
  src/js/ui/reducers/settings.js
  test/ui/Menu.spec.js
  test/ui/Settings.spec.js
  test/ui/Start.spec.js
  test/ui/__snapshots__/Settings.spec.js.snap
  test/ui/renderTree.js
Due: eslint --fix, stylelint

Update App code with TypeScript
  .flowconfig
  package.json
  src/js/app/index.ts
  src/js/app/initEnvironment.ts
  src/js/app/initGameEventsHandlers.js
  src/js/app/initGameEventsHandlers.ts
  yarn.lock
Due: eslint --fix

Update App code with TypeScript
  flow-typed/electron.js
  flow-typed/npm/electron_vx.x.x.js
  flow-typed/npm/history_v4.x.x.js
  flow-typed/npm/lodash.clonedeep_vx.x.x.js
  flow-typed/npm/lodash.merge_vx.x.x.js
  flow-typed/npm/react-redux_v5.x.x.js
  flow-typed/npm/react-router-dom_v4.x.x.js
  flow-typed/npm/react-router-redux_vx.x.x.js
  flow-typed/npm/react-router_v4.x.x.js
  flow-typed/npm/react-transition-group_vx.x.x.js
  flow-typed/npm/redux-actions_v2.x.x.js
  flow-typed/npm/redux_v3.x.x.js
  flow-typed/npm/styled-components_v2.x.x.js
  package.json
  src/js/app/index.ts
  src/js/app/initGameEventsHandlers.ts
  src/js/app/tsconfig.json
  src/js/engine/tsconfig.json
  src/js/ui/tsconfig.json
  webpack.app.config.js
  webpack.game.config.js
  yarn.lock
Due: eslint --fix

Update App code with TypeScript
  package.json
  src/js/app/index.ts
  src/js/app/initGameEventsHandlers.ts
  src/js/app/tsconfig.json
  src/js/ui/actions/settings.ts
  src/js/ui/components/MainMenu/MainMenu.tsx
  src/js/ui/components/MainMenu/MainMenuItem.tsx
  src/js/ui/components/Navigation/Navigation.tsx
  src/js/ui/components/Navigation/NavigationItem.tsx
  src/js/ui/components/SettingsMenu/SettingsMenu.tsx
  src/js/ui/components/SettingsMenu/SettingsMenuItem.tsx
  src/js/ui/components/inputs/Button.tsx
  src/js/ui/components/loaders/AwaitInputLoader.tsx
  src/js/ui/components/loaders/InfiniteLoader.tsx
  src/js/ui/components/screens/LogoScreen.tsx
  src/js/ui/components/texts/Copyright.tsx
  src/js/ui/components/texts/Logo.tsx
  src/js/ui/components/texts/Title.tsx
  src/js/ui/components/texts/Version.tsx
  src/js/ui/containers/Menu.tsx
  src/js/ui/containers/Settings.tsx
  src/js/ui/containers/Start.tsx
  src/js/ui/index.tsx
  src/js/ui/middleware/logger.ts
  src/js/ui/reducers/settings.ts
  src/js/ui/store/index.tsx
  src/js/ui/types.ts
  webpack.game.config.js
  yarn.lock
Due: eslint --fix

:arrow_up: Upgrade dependencies
  package-lock.json
  package.json
  src/js/app/tsconfig.json
  src/js/engine/tsconfig.json
  src/js/tsconfig.app.json
  src/js/tsconfig.game.json
  src/js/ui/actions/settings.ts
  src/js/ui/reducers/settings.ts
  src/js/ui/tsconfig.json
  tsconfig.json
  webpack.app.config.js
  webpack.game.config.js
  yarn.lock
Due: eslint --fix

Fix settings reducers typings
  package-lock.json
  package.json
  src/js/ui/actions/game.ts
  src/js/ui/actions/settings.ts
  src/js/ui/actions/start.ts
  src/js/ui/reducers/game.ts
  src/js/ui/reducers/settings.ts
  src/js/ui/reducers/start.ts
Due: none

Remove Yarn in favor of npm
  .tern-project
  .travis.yml
  README.md
  appveyor.yml
  package-lock.json
  package.json
  yarn.lock
Due: none

Update tests to use TyeScript
  .lintstagedrc
  jest.config.js
  package-lock.json
  package.json
  src/js/ui/containers/Settings.tsx
  test/engine/index.spec.ts
  test/setupEnzyme.ts
  test/ui/Menu.spec.js
  test/ui/Menu.spec.tsx
  test/ui/Settings.spec.tsx
  test/ui/Start.spec.tsx
  test/ui/__snapshots__/Menu.spec.js.snap
  test/ui/__snapshots__/Menu.spec.tsx.snap
  test/ui/__snapshots__/Settings.spec.js.snap
  test/ui/__snapshots__/Settings.spec.tsx.snap
  test/ui/__snapshots__/Start.spec.js.snap
  test/ui/__snapshots__/Start.spec.tsx.snap
  test/ui/renderTree.js
  test/wrap.tsx
  webpack.app.config.js
  webpack.game.config.js
Due: eslint --fix

:arrow_up: Upgrade packages
  .eslintrc.js
  package-lock.json
  package.json
  util/tasks/download.js
  webpack.game.config.js
Due: eslint --fix

:arrow_up: Upgrade packages
  package-lock.json
  package.json
  src/js/ui/actions/game.ts
  src/js/ui/actions/settings.ts
  src/js/ui/actions/start.ts
  src/js/ui/components/base.ts
  src/js/ui/components/screens/LogoScreen.tsx
  src/js/ui/containers/Menu.tsx
  src/js/ui/containers/Settings.tsx
  src/js/ui/containers/Start.tsx
  src/js/ui/middleware/logger.ts
  test/ui/__snapshots__/Menu.spec.tsx.snap
  test/ui/__snapshots__/Settings.spec.tsx.snap
  test/ui/__snapshots__/Start.spec.tsx.snap
  webpack.game.config.js
Due: eslint --fix

Fix scripts for trying electron
  package.json
Due: none

Update TSLint config
  .babelrc
  .eslintignore
  .stylelintignore
  package-lock.json
  package.json
  src/js/app/index.ts
  src/js/app/initGameEventsHandlers.ts
  src/js/ui/actions/game.ts
  src/js/ui/actions/settings.ts
  src/js/ui/actions/start.ts
  src/js/ui/components/MainMenu/MainMenu.tsx
  src/js/ui/components/Navigation/Navigation.tsx
  src/js/ui/components/Navigation/NavigationItem.tsx
  src/js/ui/components/SettingsMenu/SettingsMenu.tsx
  src/js/ui/components/SettingsMenu/SettingsMenuItem.tsx
  src/js/ui/components/base.ts
  src/js/ui/components/inputs/Button.tsx
  src/js/ui/components/loaders/AwaitInputLoader.tsx
  src/js/ui/components/loaders/InfiniteLoader.tsx
  src/js/ui/components/screens/LogoScreen.tsx
  src/js/ui/components/texts/Copyright.tsx
  src/js/ui/components/texts/Logo.tsx
  src/js/ui/components/texts/Title.tsx
  src/js/ui/components/texts/Version.tsx
  src/js/ui/containers/Focusable.tsx
  src/js/ui/containers/Menu.tsx
  src/js/ui/containers/Settings.tsx
  src/js/ui/containers/Start.tsx
  src/js/ui/index.tsx
  src/js/ui/middleware/logger.ts
  src/js/ui/reducers/game.ts
  src/js/ui/reducers/index.ts
  src/js/ui/reducers/settings.ts
  src/js/ui/reducers/start.ts
  src/js/ui/store/index.tsx
  src/js/ui/types.ts
  test/ui/Start.spec.tsx
  tslint.json
Due: none

Update stylelint and lintstaged config
  .lintstagedrc
  package-lock.json
  package.json
  src/js/ui/components/.stylelintrc
Due: none

Update prettier
  .eslintrc.js
  .gitignore
  .lintstagedrc
  .prettierignore
  .prettierrc
  .stylelintrc
  .vscode/settings.json
  package-lock.json
  package.json
  tslint.json
Due: eslint --fix

:bug: Fix missing browserslist dependency
  package-lock.json
  package.json
Due: none

Add missing pormise rejection catch
  util/tasks/download.js
Due: eslint --fix

:green_heart: Fix AppVeyor scripts
  appveyor.yml
Due: none

:bug: Add content type for download task
  util/tasks/download.js
Due: eslint --fix

Fix focusable elements
  src/js/ui/containers/Focusable.tsx
  src/js/ui/containers/Menu.tsx
  src/js/ui/containers/Settings.tsx
  src/js/ui/containers/Start.tsx
Due: none

Remove comments
  src/js/ui/containers/Menu.tsx
  src/js/ui/containers/Settings.tsx
Due: none

:memo: Update dev notes
  docs/DEVELOPMENT.md
  src/js/app/initEnvironment.ts
  src/js/app/initGameEventsHandlers.ts
  src/js/ui/components/SettingsMenu/SettingsMenu.tsx
  src/js/ui/reducers/settings.ts
  src/js/ui/store/index.tsx
Due: none

Update snapshots
  test/ui/__snapshots__/Menu.spec.tsx.snap
  test/ui/__snapshots__/Settings.spec.tsx.snap
  test/ui/__snapshots__/Start.spec.tsx.snap
Due: none
