Repository edloidas/penta-project: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --aei, stylelint --fix

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "src/js/ui/components/**/*.js": [
    "stylelint --aei",
    "git add"
  ],
  "*.css": [
    "stylelint --fix",
    "git add"
  ]
}

Add template test
  .babelrc
  .tern-project
  package.json
  src/js/engine/index.js
  test/engine/index.spec.js
Due: eslint --fix

Update CI to run prod build
  .travis.yml
  appveyor.yml
Due: none

Fix Babel config for test environment
  .babelrc
Due: none

Update Yarn lock
  yarn.lock
Due: none

:green_heart: Fix test path, ignored by Jest
  package.json
Due: none

Update order of the npm scripts
  package.json
Due: none

Add Flow typecheck script and CI step
  .flowconfig
  .gitignore
  .travis.yml
  appveyor.yml
  flow-typed/npm/history_vx.x.x.js
  flow-typed/npm/react-redux_v5.x.x.js
  flow-typed/npm/react-router-redux_vx.x.x.js
  flow-typed/npm/react-router_v4.x.x.js
  flow-typed/npm/styled-components_v2.x.x.js
  flow-typed/styled-compontents.js
  package.json
  yarn.lock
Due: eslint --fix

:arrow_up: Upgrade non-critical dependencies
  package.json
  yarn.lock
Due: none

:green_heart: Remove typecheck from AppVeyor, since flow is unsupported
  appveyor.yml
Due: none

:arrow_up: Upgrade webpack plugins
  package.json
  yarn.lock
Due: none

Update fonts
  src/js/ui/components/screens/LogoScreen.js
  src/styles/fonts.css
  src/styles/style.css
Due: eslint --fix, stylelint --aei, stylelint --fix

Add default color palette
  src/js/ui/components/MainMenu/MainMenuItem.js
  src/js/ui/components/base.js
  src/js/ui/components/loaders/InfiniteLoader.js
  src/js/ui/components/screens/LogoScreen.js
  src/js/ui/index.js
  src/styles/colors.css
  src/styles/style.css
Due: eslint --fix, stylelint --aei, stylelint --fix

Fix routing support
  flow-typed/npm/react-router-dom_v4.x.x.js
  package.json
  src/js/ui/containers/App/index.js
  src/js/ui/containers/MainMenu.js
  src/js/ui/containers/Start.js
  src/js/ui/index.js
  webpack.config.js
  yarn.lock
Due: eslint --fix

Update Tern support
  .tern-project
Due: none

Add Electron support and build tasks
  .babelrc
  .browserslistrc
  .eslintignore
  .gitignore
  .stylelintignore
  electron-builder.json
  package.json
  src/js/app/index.js
  util/config.js
  util/tasks/copy.js
  webpack.config.js
  yarn.lock
Due: eslint --fix

:green_heart: Fix wrong build script name in CI configs
  .travis.yml
  appveyor.yml
Due: none

Fix the `copy` task, that was blocked if destination dir doesn't exists
  util/tasks/copy.js
Due: eslint --fix

Disable `comma-dangle` in functions
  .eslintrc.js
  postcss.config.js
  src/js/app/index.js
  src/js/ui/components/base.js
  src/js/ui/components/loaders/InfiniteLoader.js
  src/js/ui/index.js
  src/js/ui/reducers/index.js
  src/js/ui/reducers/main.js
  util/clean.js
  util/config.js
  util/config/babili.js
  util/config/extract.js
  util/config/html.js
  util/config/minify.js
  util/env.js
  webpack.config.js
Due: eslint --fix, stylelint --aei

:arrow_up: Upgrade dependencies
  package.json
  yarn.lock
Due: none

Move dependencies to devDependencies to exclude them from dist
  .travis.yml
  electron-builder.json
  package.json
Due: none

:green_heart: Fix Travis CI webpack build problems
  webpack.config.js
Due: eslint --fix

Update the router redirect to work in Electron with `file:` protocol
  package.json
  src/js/ui/index.js
Due: eslint --fix

Update Electron builder config
  README.md
  appveyor.yml
  electron-builder.json
  package.json
  src/js/app/index.js
  yarn.lock
Due: eslint --fix

Add webpack config for Electron main file
  package.json
  src/js/app/index.js
  webpack.app.config.js
  webpack.game.config.js
Due: eslint --fix

Update webpack app config to use load `externals` with `require`
  webpack.app.config.js
Due: eslint --fix

:a: v0.0.1-alpha.2
  docs/CONTRIBUTING.md
  package.json
Due: none

Downgrade electron version in Browserslist
  .babelrc
  .browserslistrc
Due: none

Add logging to `download` task
  util/tasks/download.js
Due: eslint --fix

:memo: Update documentation format
  docs/CONTRIBUTING.md
  docs/DEVELOPMENT.md
  docs/GIT_COMMIT_MESSAGES.md
  docs/RELEASE_TEMPLATE.md
Due: none

Add Electron Travis build
  .travis.yml
  electron-builder.json
Due: none

Update Babel config for test environment
  .babelrc
Due: none

Add JS sourcemap support
  webpack.game.config.js
Due: eslint --fix

Update React Router and Redux integration
  package.json
  src/js/app/index.js
  src/js/ui/actions/index.js
  src/js/ui/index.js
  src/js/ui/middleware/index.js
  src/js/ui/middleware/router.js
  src/js/ui/reducers/main.js
  src/js/ui/store/history.js
  src/js/ui/store/index.js
  yarn.lock
Due: eslint --fix

Update `StartScreen` logic
  flow-typed/npm/redux_v3.x.x.js
  src/js/ui/actions/mainMenu.js
  src/js/ui/actions/startScreen.js
  src/js/ui/components/loaders/AwaitInputLoader.js
  src/js/ui/components/loaders/InfiniteLoader.js
  src/js/ui/components/screens/LogoScreen.js
  src/js/ui/containers/Start.js
  src/js/ui/containers/StartScreen.js
  src/js/ui/index.js
  src/js/ui/reducers/index.js
  src/js/ui/reducers/mainMenu.js
  src/js/ui/reducers/startScreen.js
  webpack.game.config.js
Due: eslint --fix, stylelint --aei

Add Flow types
  .flowconfig
  flow-typed/npm/electron_vx.x.x.js
  flow-typed/npm/redux-actions_v2.x.x.js
  flow-typed/styled-compontents.js
  flow-typed/ui.js
  src/js/app/index.js
  src/js/engine/index.js
  src/js/ui/actions/mainMenu.js
  src/js/ui/actions/startScreen.js
  src/js/ui/containers/MainMenu.js
  src/js/ui/middleware/index.js
  src/js/ui/middleware/router.js
  src/js/ui/reducers/index.js
  src/js/ui/reducers/mainMenu.js
  src/js/ui/reducers/startScreen.js
  src/js/ui/store/history.js
  src/js/ui/store/index.js
Due: eslint --fix

Add Flow types for actions
  flow-typed/npm/electron_vx.x.x.js
  flow-typed/ui.js
  src/js/ui/actions/mainMenu.js
  src/js/ui/actions/startScreen.js
  src/js/ui/containers/StartScreen.js
  src/js/ui/middleware/logger.js
Due: eslint --fix

Improve Flow typings
  flow-typed/ui.js
  src/js/ui/actions/startScreen.js
  src/js/ui/containers/StartScreen.js
  src/js/ui/middleware/logger.js
  src/js/ui/reducers/startScreen.js
Due: eslint --fix

Fix the `StartScreen` state change
  .eslintrc.js
  docs/DEVELOPMENT.md
  src/js/ui/actions/startScreen.js
  src/js/ui/components/loaders/AwaitInputLoader.js
  src/js/ui/components/loaders/InfiniteLoader.js
  src/js/ui/components/screens/LogoScreen.js
  src/js/ui/containers/StartScreen.js
  src/js/ui/index.js
  src/js/ui/reducers/startScreen.js
Due: eslint --fix, stylelint --aei
