Repository edloidas/penta-project: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --aei, stylelint --fix

Update Menu container
  .stylelintrc
  flow-typed/npm/react-transition-group_vx.x.x.js
  package.json
  src/js/ui/components/.stylelintrc
  src/js/ui/components/MainMenu/MainMenu.js
  src/js/ui/components/MainMenu/MainMenuItem.js
  src/js/ui/components/loaders/AwaitInputLoader.js
  src/js/ui/components/screens/LogoScreen.js
  src/js/ui/containers/MainMenu.js
  src/js/ui/containers/Menu.js
  src/js/ui/containers/StartScreen.js
  src/js/ui/index.js
  src/styles/effects.css
  webpack.game.config.js
  yarn.lock
Due: eslint --fix, stylelint --aei, stylelint --fix

:art: Update code style
  src/js/ui/components/MainMenu/MainMenuItem.js
  src/js/ui/containers/Start.js
  src/js/ui/index.js
Due: eslint --fix, stylelint --aei

Add Exit app support
  flow-typed/npm/electron_vx.x.x.js
  src/js/app/index.js
  src/js/app/initEnvironment.js
  src/js/app/initGameEventsHandlers.js
  src/js/ui/components/MainMenu/MainMenu.js
  src/js/ui/components/MainMenu/MainMenuItem.js
  src/js/ui/containers/Menu.js
  src/js/ui/reducers/mainMenu.js
  src/js/ui/reducers/startScreen.js
Due: eslint --fix, stylelint --aei

:memo: Update Development section
  README.md
  docs/DEVELOPMENT.md
Due: none

:white_check_mark: Add `<Start />` tests with snapshot
  docs/DEVELOPMENT.md
  package.json
  test/ui/Start.spec.js
  test/ui/__snapshots__/Start.spec.js.snap
  yarn.lock
Due: eslint --fix

:art: Rename actions and reducers files according to the containers
  docs/DEVELOPMENT.md
  package.json
  src/js/ui/actions/menu.js
  src/js/ui/actions/start.js
  src/js/ui/containers/Menu.js
  src/js/ui/containers/Start.js
  src/js/ui/reducers/index.js
  src/js/ui/reducers/menu.js
  src/js/ui/reducers/start.js
  test/ui/Start.spec.js
Due: eslint --fix

:art: Update actions notation
  src/js/ui/actions/start.js
  src/js/ui/containers/Start.js
  src/js/ui/reducers/menu.js
  src/js/ui/reducers/start.js
  src/js/ui/store/index.js
  test/ui/Start.spec.js
Due: eslint --fix

Update `menu`/`game` actions and reducers
  src/js/ui/actions/game.js
  src/js/ui/actions/menu.js
  src/js/ui/components/MainMenu/MainMenu.js
  src/js/ui/components/MainMenu/MainMenuItem.js
  src/js/ui/containers/Menu.js
  src/js/ui/reducers/game.js
  src/js/ui/reducers/index.js
  src/js/ui/reducers/menu.js
  src/js/ui/store/index.js
Due: eslint --fix, stylelint --aei

Remove blank lines after `// @flow` comment
  src/js/app/index.js
  src/js/app/initEnvironment.js
  src/js/app/initGameEventsHandlers.js
  src/js/ui/actions/game.js
  src/js/ui/actions/start.js
  src/js/ui/components/MainMenu/MainMenu.js
  src/js/ui/components/MainMenu/MainMenuItem.js
  src/js/ui/components/base.js
  src/js/ui/components/loaders/AwaitInputLoader.js
  src/js/ui/components/loaders/InfiniteLoader.js
  src/js/ui/components/screens/LogoScreen.js
  src/js/ui/containers/Menu.js
  src/js/ui/containers/Start.js
  src/js/ui/index.js
  src/js/ui/middleware/index.js
  src/js/ui/middleware/logger.js
  src/js/ui/middleware/router.js
  src/js/ui/reducers/game.js
  src/js/ui/reducers/index.js
  src/js/ui/reducers/start.js
  src/js/ui/store/history.js
  src/js/ui/store/index.js
Due: eslint --fix, stylelint --aei

Update Logo component
  src/js/ui/components/base.js
  src/js/ui/components/screens/LogoScreen.js
  src/js/ui/components/texts/Logo.js
  test/ui/__snapshots__/Start.spec.js.snap
Due: eslint --fix, stylelint --aei

:bug: Fix `Logo` title position
  src/js/ui/components/texts/Logo.js
  test/ui/__snapshots__/Start.spec.js.snap
Due: eslint --fix, stylelint --aei

Add `Logo` to the main menu
  src/js/ui/components/MainMenu/MainMenu.js
Due: eslint --fix, stylelint --aei

Add footer with version and copyright to the main menu
  .eslintrc.js
  package.json
  src/js/ui/components/MainMenu/MainMenu.js
  src/js/ui/components/base.js
  src/js/ui/components/texts/Copyright.js
  src/js/ui/components/texts/Version.js
  src/js/ui/containers/Menu.js
  util/project.js
  webpack.game.config.js
Due: eslint --fix, stylelint --aei

Move Jest config from `package.json` to `jest.config.js`
  jest.config.js
  package.json
  src/js/ui/components/MainMenu/MainMenu.js
Due: eslint --fix, stylelint --aei

:arrow_up: Upgrade dependencies
  package.json
  yarn.lock
Due: none

:memo: Replace text with system logos in the shield icons of status line
  README.md
Due: none

:arrow_up: Upgrade react to v16 beta
  package.json
  yarn.lock
Due: none

:bug: Fix flow breaking changes
  flow-typed/npm/electron_vx.x.x.js
  flow-typed/npm/react-redux_v5.x.x.js
  flow-typed/npm/react-router-dom_v4.x.x.js
  flow-typed/npm/react-router_v4.x.x.js
  flow-typed/npm/styled-components_v2.x.x.js
  src/js/app/index.js
Due: eslint --fix

Fix flow breaking changes in project libs and code
  .lintstagedrc
  flow-typed/npm/electron_vx.x.x.js
  flow-typed/npm/styled-components_v2.x.x.js
  flow-typed/ui.js
  src/js/ui/components/MainMenu/MainMenuItem.js
  src/js/ui/containers/Menu.js
  src/js/ui/containers/Start.js
Due: eslint --fix, stylelint --aei

:arrow_up::green_heart: Upgrade dependencies
  package.json
  yarn.lock
Due: none

:shirt: Fix linter warnings
  src/js/ui/components/MainMenu/MainMenu.js
  src/js/ui/components/MainMenu/MainMenuItem.js
  src/js/ui/components/loaders/AwaitInputLoader.js
  src/js/ui/components/loaders/InfiniteLoader.js
  src/js/ui/components/screens/LogoScreen.js
  src/js/ui/components/texts/Copyright.js
  src/js/ui/components/texts/Logo.js
  src/js/ui/components/texts/Version.js
  src/js/ui/containers/Start.js
  src/js/ui/index.js
Due: eslint --fix, stylelint --aei

:arrow_up: Upgrade dependencies
  .babelrc
  .eslintrc.js
  jest.config.js
  package.json
  src/js/ui/components/MainMenu/MainMenu.js
  src/js/ui/components/texts/Copyright.js
  src/js/ui/index.js
  yarn.lock
Due: eslint --fix, stylelint --aei

:shirt: Replace simple assign with object destructing
  src/js/app/initGameEventsHandlers.js
  util/tasks/copy.js
  util/tasks/download.js
  webpack.app.config.js
  webpack.game.config.js
Due: eslint --fix

:shirt: Remove harmful line break rule, that is managed by Git
  .eslintrc.js
Due: eslint --fix

:arrow_up: Upgrade dependencies
  .browserslistrc
  flow-typed/npm/styled-components_v2.x.x.js
  package.json
  src/js/ui/components/MainMenu/MainMenuItem.js
  util/config/babili.js
  util/config/html.js
  util/config/minify.js
  webpack.app.config.js
  webpack.game.config.js
  yarn.lock
Due: eslint --fix, stylelint --aei

Fix autofocus on Start screen
  src/js/ui/containers/Start.js
Due: eslint --fix

:green_heart: Fix Jest config
  .babelrc
  .browserslistrc
  .travis.yml
  appveyor.yml
  package.json
  yarn.lock
Due: none

Add support for tabulation on `MainMenuItem`s in `Menu`
  src/js/ui/components/MainMenu/MainMenuItem.js
  src/js/ui/containers/Focusable.js
  src/js/ui/containers/Menu.js
  src/js/ui/containers/Start.js
Due: eslint --fix, stylelint --aei

:arrow_up: Update tabulation for `MainMenuItem`
  .babelrc
  .browserslistrc
  package.json
  src/js/ui/components/MainMenu/MainMenuItem.js
  yarn.lock
Due: eslint --fix, stylelint --aei

Update Flow definitions
  flow-typed/electron.js
  flow-typed/npm/electron_vx.x.x.js
  flow-typed/npm/history_v4.x.x.js
  flow-typed/npm/history_vx.x.x.js
  flow-typed/npm/react-redux_v5.x.x.js
  flow-typed/npm/react-router-dom_v4.x.x.js
  flow-typed/npm/react-router-redux_vx.x.x.js
  flow-typed/npm/react-router_v4.x.x.js
  flow-typed/npm/react-transition-group_vx.x.x.js
  flow-typed/npm/redux-actions_v2.x.x.js
  flow-typed/npm/redux_v3.x.x.js
  package.json
  src/js/ui/containers/Menu.js
  src/js/ui/store/index.js
  yarn.lock
Due: eslint --fix

Fix global styles
  src/styles/fonts.css
  src/styles/style.css
Due: stylelint --fix

Add Settings screen and implement container
  .eslintrc.js
  flow-typed/npm/deepmerge_v2.1.x.js
  flow-typed/ui.js
  package.json
  src/js/ui/actions/game.js
  src/js/ui/actions/settings.js
  src/js/ui/components/MainMenu/MainMenu.js
  src/js/ui/components/SettingsMenu/SettingsMenu.js
  src/js/ui/components/base.js
  src/js/ui/components/texts/Title.js
  src/js/ui/containers/Settings.js
  src/js/ui/index.js
  src/js/ui/reducers/index.js
  src/js/ui/reducers/settings.js
  src/js/ui/store/index.js
  webpack.game.config.js
  yarn.lock
Due: eslint --fix, stylelint --aei

:white_check_mark: Fix Start component snapshot
  test/ui/__snapshots__/Start.spec.js.snap
Due: none

Add Button component
  .stylelintignore
  flow-typed/npm/deepmerge_v2.1.x.js
  flow-typed/npm/lodash.clonedeep_vx.x.x.js
  flow-typed/npm/lodash.merge_vx.x.x.js
  flow-typed/ui.js
  package.json
  src/js/ui/components/MainMenu/MainMenuItem.js
  src/js/ui/components/SettingsMenu/SettingsMenu.js
  src/js/ui/components/SettingsMenu/SettingsMenuItem.js
  src/js/ui/components/inputs/Button.js
  src/js/ui/containers/Settings.js
  src/js/ui/middleware/index.js
  src/styles/effects.css
  webpack.game.config.js
  yarn.lock
Due: eslint --fix, stylelint --aei, stylelint --fix

Update heme property handling
  src/js/ui/components/MainMenu/MainMenu.js
  src/js/ui/components/loaders/AwaitInputLoader.js
  src/js/ui/components/loaders/InfiniteLoader.js
  src/js/ui/components/screens/LogoScreen.js
  src/js/ui/components/texts/Copyright.js
  src/js/ui/components/texts/Logo.js
  src/js/ui/components/texts/Title.js
  src/js/ui/components/texts/Version.js
  test/ui/__snapshots__/Start.spec.js.snap
Due: eslint --fix, stylelint --aei

:bug: Fix issue with mutable theme object
  src/js/ui/components/inputs/Button.js
  src/js/ui/components/loaders/AwaitInputLoader.js
  src/js/ui/components/loaders/InfiniteLoader.js
  src/js/ui/components/texts/Copyright.js
  src/js/ui/components/texts/Logo.js
  src/js/ui/components/texts/Title.js
  src/js/ui/components/texts/Version.js
  test/ui/__snapshots__/Start.spec.js.snap
Due: eslint --fix, stylelint --aei

:white_check_mark: Add Menu test
  test/ui/Menu.spec.js
  test/ui/__snapshots__/Menu.spec.js.snap
Due: eslint --fix

Fix font family of the Title component
  src/js/ui/components/texts/Title.js
Due: eslint --fix, stylelint --aei

Path conditions:
  eslint --fix: any of: *.js
  stylelint --aei: any of: src/js/ui/components/**/*.js
  stylelint --fix: any of: *.css
